@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.scroll-carousel {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.scroll-carousel::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

:focus-visible:not(input, dialog) {
  outline: 2px dashed rgb(129 140 248);
}